{% extends "template.twig" %}
{% block content %}
<h1>Add Job</h1>
{% if Message  %}
<div class="alert alert-primary" role="alert">
  {{Message}}
</div>
{% endif %}
    <form action="/fundamentos_php2018/jobs/add" method="post">
    <label for="">tiltle</label>
    <input type="text" name="title"><br>
    <label for="">Add description</label>
    <input type="text" name="description"><br>
    <button type="submit">Save</button>
    </form>
{% endblock %}